*.class
*.iml
*.ipr
*.iws
*.txt
.project
.classpath
.settings/
.gradle/
minecraft/
build/classes/
build/dependency-cache/
build/natives/
build/resources/
build/sources/
build/tmp/
out/
bin
config/
logs/
saves/
